body {
    /* background-color: black; */
    background-color: rgba(35, 39, 47, 1);
    color: white;
    border: 1px solid hsla(0, 0%, 100%, .06);
    max-width: 1200px;
    margin: 100px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: auto;
    padding: 60px 0;
}

h2 {
    margin-bottom: 30px;
    margin-top: 100px;
}

img {
    width: 100%;
}

.title {
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    background-color: rgba(22, 24, 29, 1);
    border-radius: 10px 10px 0 0;
}

.container.diagram div {
    border: 1px solid hsla(0, 0%, 100%, .06);
    border-radius: 15px;
    -webkit-mask-image: linear-gradient(180deg, black 50%, transparent 100%);
    height: 500px;
    object-fit: cover;
    padding: 10px;
    background-color: rgba(22, 24, 29, 1);
}

.container.table-list h2 {
    margin-bottom: 0;
}

.container.table-list p {
    border: 1px solid hsla(0, 0%, 100%, .06);
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    background-color: rgba(22, 24, 29, 1);
}

.container.table-list p:hover {
    background-color: transparent;
    transition: all 0.3s;
}

.container.table-list.database-script p {
    margin-top: 10px;
}

.container.information-graf .content-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container.information-graf .content-date .content-table .table td {
    background-color: transparent;
    color: white;
    border: 1px solid hsla(0, 0%, 100%, .06);
}

.container.information-graf .content-date .content-table .table tbody .separate {
    background-color: hsla(0, 0%, 100%, .06);
}

.container.information-graf .content-date .content-table .table thead {
    background-color: rgba(22, 24, 29, 1);
    font-weight: 800;
}

.container.information-graf .content-code {
    border: 1px solid hsla(0, 0%, 100%, .06);
    border-radius: 10px;
}

.container.information-graf .content-code h4 {
    background-color: rgba(22, 24, 29, 1);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    font-size: 16px;
}

.container.information-graf .content-code code div {
    padding: 10px;
}

.container.tools .content-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container.tools .content-tools img {
    max-width: 120px;
    margin: auto;
}

@media (max-width: 1280px) {
    body {
        margin: 50px 15px;
    }
}